USE [master]
GO
/****** Object:  Database [NegozioElettronica]    Script Date: 8/26/2021 3:28:04 PM ******/
CREATE DATABASE [NegozioElettronica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MagazzinoElettronica', FILENAME = N'C:\Users\ludovica.lucidi\MagazzinoElettronica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MagazzinoElettronica_log', FILENAME = N'C:\Users\ludovica.lucidi\MagazzinoElettronica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NegozioElettronica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NegozioElettronica]
GO
USE [NegozioElettronica]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/26/2021 3:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Marca] [nvarchar](50) NOT NULL,
	[Modello] [nvarchar](50) NOT NULL,
	[Quantita] [int] NOT NULL,
	[Memoria] [int] NULL,
	[Pollici] [int] NULL,
	[SistemaOperativo] [int] NULL,
	[IsTouch] [bit] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
